name: build
on:
  pull_request:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binext: .exe

    runs-on: ${{ matrix.platform.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}

      - uses: Swatinem/rust-cache@v2

      - name: Install needed packages on Linux
        if: contains(matrix.platform.os, 'ubuntu')
        run: sudo apt-get update --yes && sudo apt-get install --yes libssl-dev libdbus-1-dev libx11-xcb1 libxkbcommon-x11-dev pkg-config

      - name: Install mold linker
        uses: rui314/setup-mold@v1

      - name: Run build command
        run: cargo build --release --target ${{ matrix.platform.target }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform.os_name }}
          path: target/${{ matrix.platform.target }}/release/*
